*.osm
*.osrm
*.osrm.cnbg
*.osrm.cnbg_to_ebg
*.osrm.datasource_names
*.osrm.ebg
*.osrm.ebg_nodes
*.osrm.edges
*.osrm.enw
*.osrm.fileIndex
*.osrm.geometry
*.osrm.hsgr
*.osrm.icd
*.osrm.maneuver_overrides
*.osrm.names
*.osrm.nbg_nodes
*.osrm.properties
*.osrm.ramIndex
*.osrm.restrictions
*.osrm.timestamp
*.osrm.tld
*.osrm.tls
*.osrm.turn_duration_penalties
*.osrm.turn_penalties_index
*.osrm.turn_weight_penalties